# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/

# Model files
models/*.pkl

# OS junk files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Environment secrets
.env

# JetBrains / PyCharm project files
*.iml
.idea/

# Logs
*.log