<!DOCTYPE html>
<html>
<head>
    <title>Mental Health Risk AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <!-- Smooth Font -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    
    <!-- Lucide Icons -->
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>

<nav class="navbar">
    <div class="logo">Mental Health Risk AI</div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/register" class="nav-btn">Register</a>
    </div>
</nav>

{% block content %}{% endblock %}

<script>
  lucide.createIcons();
</script>

</body>
</html>